{% extends 'main.html' %}
{% block title %}Memeify-about{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="card w-75 ">
        <div class="card-header bg-black d-flex justify-content-center p-3">
            <h1 style="font-family: 'Edu NSW ACT Cursive', cursive; font-weight: 800; color: #FFF000;">Memefiy</h1>
        </div>
        <div class="card-body">
            <blockquote>
                <p>
                
                    Welcome to <strong>Memefiy</strong> — Where Internet Culture Lives.

                        Memefiy is your go-to hub for discovering, uploading, and sharing the internet's best humor. Built for fast browsing and instant laughs, Memefiy brings together trending viral posts, classic reaction templates, and original creations from meme lovers everywhere.

                        Discover & Scroll: Explore a constantly refreshed feed of top-tier memes with a clean, dynamic layout designed for uninterrupted scrolling.

                        Instant Uploads: Got a hilarious image? Share your original memes with the community in high quality with zero setup hassle.

                        One-Click Sharing & Downloads: Grab your favorite memes in full resolution or share direct links straight to your group chats and social feeds.

                        Privacy & Control: You own what you post. Your browser holds unique management tokens for your uploaded content, allowing you to remove your posts whenever you choose.

                        Whether you're looking for a quick laugh during a break or want to broadcast the latest viral format, Memefiy keeps internet humor simple, fast, and accessible to everyone.</p>

                    <footer>Made by Jomin Jiso</footer>
            </blockquote>  <hr>

            <h3 class="text-warning"><strong>Features</strong></h3>
            <p class="text-muted">- Upload memes</p>
            <p class="text-muted">- download memes</p>
            <p class="text-muted">- share memes</p>
            <p class="text-muted">- Added Clicks(<i class="fa-solid fa-hand-pointer"></i>)</p>
            <p class="text-muted">- Meme Roulette</p>
            <p class="text-muted">- Categories</p>
            <p class="text-muted">- Search</p>
            <hr><br>

            <h3 class="text-warning"><strong>More Info</strong></h3>
            <p>- <i class="fa-regular fa-envelope"></i> memefiyindia@gmail.com <br>
            - <a href="https://www.instagram.com/memefiy.in/" class="text-decoration-none"><i class="fa-brands fa-instagram"></i> Memefiy.in</a><br>    
            <p style="opacity: 0.7;">Additional info comming soon...</p>
            </p><hr>

            <h3 class="text-warning text-decoration-underline"><strong>Version</strong></h3><br>
            <h5 style="font-family: 'Edu NSW ACT Cursive', cursive; font-weight: 800; color: #FFF000;"><strong>Memefiy 1.2</strong></h5>
        </div>
    </div>
</div>

{% endblock %}