{% extends 'main.html' %}
{% block title %}Memeify-Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="#">
{% endblock %}
{% block content %}

{% if post %}
    <div class="container mt-5 my-4" >
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for post in post %}
                    <div class="col">
                        <div class="card">
                            <div class="card-header d-flex bg-white">
                                {% if current_user.id == post.user.id %}
                                    <div class="container d-flex p-0">
                                        <p style="font-weight: 700;">{{post.title}}</p>
                                        <p style="opacity: 0.7; margin-left: 5px; margin-right: 5px;">•</p>
                                        <p style="opacity: 0.7;">@{{post.user.username}}</p> 
                                    </div>
                                {% else %}
                                    <div class="container d-flex p-0 justify-content-between">
                                        <p style="font-weight: 700;">{{post.title}}</p>
                                        <p style="opacity: 0.7;">@{{post.user.username}}</p> 
                                    </div>
                                {% endif %}
                                
                                {% if current_user.id == post.user.id %} 
                                    <a style="color: red;" href="{{url_for('home.del_post',id = post.id)}}"><div class="btn"><i class="fa-solid fa-trash"></i></div></a>
                                {% endif %}
                            </div>
                            <div style="height: 320px; background-color: black;" class="d-flex align-items-center justify-content-center overflow-hidden">
                                    <img src="{{ url_for('static', filename='imgs/memes/' + post.meme) }}" 
                                        class="w-100 h-100" 
                                        style="object-fit: contain;" 
                                        alt="{{ post.title }}">
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-white">
                                <a href="{{url_for('home.fav',post_id = post.id)}}">
                                    <button class="btn" onclick="toggleFavorite(this)">
                                        {% if post in current_user.favorited_posts %}
                                            <i class="fa-solid fa-heart" style="color: red;"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart" style="color: red;"></i>
                                        {% endif %}
                                    </button>
                                </a>
                                <div class="btn"><i class="fa-solid fa-download" style="color: green;"></i></div>
                                <div class="btn"><i class="fa-solid fa-share" style="color: rgb(59, 59, 239);"></i></div>  
                            </div>
                            
                        </div>
                    </div>

            {% endfor %}
        </div>
    </div>

{% else %}
    <h1 class="d-flex justify-content-center mt-5 mb-5">No favorite posts</h1>
{% endif %}

<script>
function toggleFavorite(button) {
    const icon = button.querySelector("i");

    icon.classList.toggle("fa-regular");
    icon.classList.toggle("fa-solid");
}
</script>


{% endblock %}
